<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2 text-center">
        <p>Hello! I’m Siddhant, a naturally curious data enthusiast with a passion
          for personal knowledge management, data collection, and uncovering insights that spark new ideas.
          My journey into the data world began with a deep love for capturing, organizing, and distilling information, always looking for meaningful patterns. 
          This passion led me to master SQL, Power BI, Excel, and Python—turning raw data into compelling stories and linking ideas in innovative ways.
          I’ve honed my analytical skills to help drive strategic decisions and uncover growth opportunities.
          If you're interested in turning data into actionable insights, let’s connect and explore how we can unlock the power of data together!</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://drive.google.com/file/d/11rOl3UV1zBC6IQ1fX8jzfcp1mp2LT7QL/view?usp=sharing" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Resume
        </a>
      </div>
    </div>
  </div>
</section>
